<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>
    <add name="CarRental"
         connectionString="Data Source=(localdb)\Projects;Initial Catalog=CarRental;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>